* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

h1 {
  font-weight: bold;
  
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  position: relative;
}


 h1 {
  font-size: 1.2em;
  margin: 0;
  color: #fff;
  
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 15px;
  gap: 50px;
  }

   nav ul {
    display: flex;
    align-items: center;
  list-style-type: none;
  gap: 20px;
}
  li {
  margin: 0 5px;
  width: 70px;
  }
    li a {
    text-decoration: none;
    color: #FFFEC4;
    font-size: 1.1rem;
    cursor: pointer;
    }

    li a:hover {
      color: #f1c40f;
      border-bottom: 4px #f1c40f solid;
      transition: 0.5s;
    }



    .hide {
      top: 70px;
      list-style: none;
      line-height: 40px;
      text-align: center;
    }


    @media screen and (min-width: 320px) and (max-width: 768px){
     
      h1 {
        display: inline-flex;
        font-size: 1.5rem;
      }
     
      
      .hamburger {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        padding: 10px;
        margin-right: -10px;
      }

      .line {
        display: block;
        background-color: #fff;
        height: 2px;
        width: 35px;
      }

      .line-rotate {
        background-color: #362d2d;
        border-radius: 5px;
      }

      nav {
        position: relative;
        padding: 35px 20px;
      }

       ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0c0c0c;
        padding: 35px 0;
        position: absolute;
        top: -350px;
        left: 0;
        right: 0; 
      }

      li {
        text-align: center;
        width: 50vw;
      }
      li a:hover {
        font-weight: bold;
        color: #f1c40f;
        border: none;
        letter-spacing: 3px;
      }
     
    
    }


.slideshow-container {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-image {
  position: fixed;
  top: 20;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slideshow 30s infinite;
}

@keyframes slideshow {
  0% { 
    background-image: url('image1.jpg');
  }

  25% { 
    background-image: url('image2.jpg');
  }
  50% { 
    background-image: url('image3.png');
  }
  75% { 
    background-image: url('image4.jpg');
  }
  70% { background-image: url('images5.png');
  }

  /* 100% { background-image: url('image1.jpg'); } */
}

/* ... Existing CSS code ... */

.slideshow-content {
  position: fixed;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for desired transparency */
  color: #ffffff;
  padding: 60px;
  text-align: center;
}

.slideshow-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.slideshow-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.slideshow-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.slideshow-content a {
  text-decoration: none ;
  color: #fff;
}

.slideshow-content .btn:hover {
  background-color: #dddddd;
}
/* 
@media screen and (max-width: 768px) {
  .slideshow-content {
    font-size: 14px;
  }
  
  .slideshow-content h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .slideshow-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .slideshow-content .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
} */
